body {
    font-family: 'Inter';
    background-color: #918B76;
}

h1 {
    font-size: 1.5rem;
}

.contenedor-registro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.contenedor-registro-panel {
    padding: 2rem .5rem 2rem .5rem;
    background-color: #503C3C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    width: 40%;
}

.exito-cont-img {
    /* display: flex;
    justify-content: center; */
    background-color: #7E6363;
    padding: 2rem;
    border-radius: 50%;
    border: .1rem solid white;
    width: 12rem;
}

.exito-img {
    max-width: 11rem;
}

.exito-titulo {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.exito-h1 {
    margin: 2rem 0 2rem 0;
}

.registro-botones {
    margin-top: 3rem;
}

.boton {
    border-radius: .4rem;
    border-style: none;
    background-color: #7E6363;
    color: white;
    padding: .6rem 1.1rem;
    width: 10rem;
}

.boton:hover {
    background-color: #7e636380;
    cursor: pointer;
}

.btn-continuar {
    padding: .5rem 3rem;
    text-decoration: none;
}

.producto {
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
    justify-content: space-between;
}

.producto-precio {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}